@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --text: #071310;
      --background: #002333;
      --primary: #f78308;
      --secondary: #3ddbaf;
      --accent: #22ce7b;
      --accent-transparent: #03ff8509;
    }
    .dark {
      --text: #ecf8f5;
      --background: #010302;
      --primary: #f78308;
      --secondary: #24c295;
      --accent: #31dd8a;
    }
  }  
  .glass{
    backdrop-filter: blur(64px);
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
  .glass::before{
    content: '';
    position: absolute;
    z-index: -10;
    inset: 0;
    opacity: .3;
  }
  .translate-z{
    transform: translateZ(0);
  }