@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
      --text: #071310;
      --background: #15191b;
      --primary: #f78308;
      --secondary: #3ddbaf;
      --accent: #22ce7b;
      --accent-transparent: #03ff8509;
    }
    .dark {
      --text: #ecf8f5;
      --background: #010302;
      --primary: #f78308;
      --secondary: #24c295;
      --accent: #31dd8a;
    }
  }  
  .active{
    color: var(--accent);
  }

  @layer utilities {
    /* Scrollbar styles for WebKit browsers */
    .scrollbar::-webkit-scrollbar {
      width: 12px;
      height: 12px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 10px;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  
    /* Scrollbar styles for Firefox */
    .scrollbar {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
    }
  }